# JWT
Jwt__Key=<<JWT_SECRET_MIN_32_CHARS>>
Jwt__Issuer=LoLStore
Jwt__Audience=LoLStore

# Database
ConnectionStrings__DefaultConnection=<<SQL_SERVER_CONNECTION_STRING>>

# CORS
AllowLocalHost=http://localhost:5173